{% extends 'base.html' %} {% load static %} 
{% block title %}TravelWise - Create Plan{% endblock %} 

{% load crispy_forms_tags %} {% block css %}
<link rel="stylesheet" href="{% static 'css/travel-header.css' %}" />
{% endblock %} {% block content %}

<section>
  <div class="container d-flex flex-column flex-grow-1">
    <div id="chat-messages" class="flex-grow-1 d-flex flex-column">
        <div class="assistant">Hello, I am your travel planning assistant. Where would you like to travel?</div>
        
        {% for message in messages %}
            <div class="{{message.role}}">{{message.content}}</div>
        {% endfor %}
    </div>
    <div class="m-4">
        <input type="text" class="form-control" id="chat-input" placeholder="Enter chat message">
    </div>
  </div>
</section>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get('id');
    
    let chatInput = document.getElementById('chat-input');
    let chatMessages = document.getElementById('chat-messages');
    
    chatInput.addEventListener('keydown', function(event) {
        if(event.keyCode !== 13) {
            return;
        }
        
        api
            .chat(id, chatInput.value)
            .then(function(response) {
                let userMessageDiv = document.createElement('div');
                userMessageDiv.classList.add('user');
                userMessageDiv.innerText = `${chatInput.value}`;
                chatMessages.appendChild(userMessageDiv);
                
                let message = response['message'];
                
                let messageDiv = document.createElement('div');
                messageDiv.classList.add('assistant');
                messageDiv.innerText = `${message}`;
                
                chatMessages.appendChild(messageDiv);
            })
            .catch(function(error) {
                alert(error);
            });
    });
</script>
<style>
    #chat-input {
        width: 100%;
    }
    
    /* TODO: Consider making the following global */    
    body {
        height: 100%;
        
        /* TODO: We should use a bootsrap class for these instead, but this is a quick, localized hack. */
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    /* TODO: Use a selector that is actually sane */
    body > section {
        flex-grow: 1;
        display: flex;
        
        /* I hate bootstrap. Fix later. */
        overflow-x: hidden;
    }
    
    /* TODO: Consider making the following global */
    html {
        height: 100%;
    }
    
    /* TODO: Fix this hack */
    .row {
        max-width: 100vw;
    }
    
    /* I feel like I've gone full circle here. Why even Boostrap? */
    .user,
    .assistant {
        display: inline;
        margin: 1em;
        padding: 1em;
        color: white;
        border-radius: 1em;
        max-width: 75%;
    }
    
    .assistant {
        background-color: #c13022;
    }
    
    .user {
        background-color: #22b3c1;
        
        margin-left: 25%;
    }
    
    /* One of the changes I made above negates the section margin, and the header does not play well with flex. Joy. */
    .container {
        /*
        JK, only breaks on mobile. Great.
        
        margin-top: 330px;
        
        */
    }
    
    #chat-messages {
        overflow: auto;
    }
</style>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/api.js' %}"></script>
{% endblock %}

