{% extends 'base.html' %} {% load static %} 
{% block title %}TravelWise - Home{% endblock %}

{% block navbar %}{% include 'components/navbar.html' %}{% endblock %}

{% load crispy_forms_tags %} {% block css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %} {% block content %}
<main>
  <div class="site-section d-flex flex-grow-1">
      <div class="container d-flex flex-column">
        {% block create_plan %}
          <h2>Welcome {{user.username}}</h2>
          <div class="travel-plans d-flex flex-column flex-grow-1">
            <h3>Travel Plans</h3>
            <ul class="flex-grow-1">
              {% for travel_plan in travel_plans %}
                <li>
                  <a href="/create/?id={{travel_plan.id}}">
                    Travel Plan {{travel_plan.id}}
                  </a>
                </li>
              {% endfor %}
            </ul>
            <button id="new-plan-button">New Plan</button>
          </div>
          <script>
            document.getElementById('new-plan-button').addEventListener('click', function(e) {
              api.createPlan().then(function(response) {
                const planId = response.planId;
                    
                window.location.href = `/create/?id=${planId}`;
              })
              .catch(function (error) {
                alert('Failed to create plan');
              });
            });
          </script>
        {% endblock %}
      </div>
  </div>  
</main>
<style>
    /* TODO: Consider making the following global */
    html {
        height: 100%;
    }
    
    /* TODO: Consider making the following global */
    body {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    body > header {
        display: flex;
    }
    
    main {
        display: flex;
        flex-direction: column;
    }
    
    section {
        flex-grow: 1;
    }
    
    .travel-plans {
        align-items: center;
        margin: 1em;
    }
    
    .travel-plans ul {
        padding: 0;
        margin: 0;
    }
    
    .travel-plans li {
        background-color: #22b3c1;
        border-radius: 1em;
        padding: 0.5em;
        margin: 0.5em;
        list-style-type: none;
    }
    
    .travel-plans li a {
        color: white;
    }
</style>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/api.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/navbar.js' %}"></script>
{% endblock %}