{% extends 'base.html' %} {% load static %} 
{% block title %}TravelWise - My Profile{% endblock %}

{% block navbar %}{% include 'components/navbar.html' %}{% endblock %}

{% load crispy_forms_tags %} {% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %} {% block content %}
<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-4 pb-5">
                <!-- Account Sidebar-->
                <div class="author-card pb-3">
                    <div class="author-card-cover" style="background-image: url(https://wallpapercave.com/wp/wp2047751.jpg);">
                    </div>
                    <div class="author-card-profile">
                        <div class="author-card-avatar"><img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairFroBand&accessoriesType=Prescription02&hairColor=SilverGray&facialHairType=BeardMajestic&facialHairColor=Platinum&clotheType=GraphicShirt&clotheColor=PastelBlue&graphicType=Bat&eyeType=Default&eyebrowType=RaisedExcited&mouthType=Sad&skinColor=Pale" alt="Daniel Adams"></div>
                        <div class="author-card-details">
                            <h5 class="author-card-name">{{user.get_full_name}}</h5>
                            <span class="author-card-position">Joined {{user.date_joined | date:'M Y'}}</span>
                        </div>
                    </div>
                </div>
                <nav class="list-group list-group-flush">
                    <a class="list-group-item active" href="#">
                        <i class="fe-icon-user me-2"></i>Profile Settings
                    </a>
                </nav>
                {% for message in messages %}
                <div class="alert alert-warning">
                {{ message }}
                </div>
                {% endfor %}
            </div>

            <!-- Profile Settings-->
            <div class="col-lg-8 pb-5">
                <form method="POST" class="row" >
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="account-fn" class="form-label">First Name</label>
                            <input class="form-control" type="text" id="account-fn" name="first_name" value="{{ user.first_name }}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="account-ln" class="form-label">Last Name</label>
                            <input class="form-control" type="text" id="account-ln" name="last_name" value="{{ user.last_name }}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="account-email" class="form-label">Email Address</label>
                            <input class="form-control" type="email" id="account-email" name="email" value="{{ user.email }}" disabled>
                        </div>
                    </div>
                    <!-- Filled in to make rows even -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="placeholder" class="form-label">Placeholder</label>
                            <input class="form-control" type="text" id="placeholder" name="placeholder">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="account-pass" class="form-label">New Password</label>
                            <input class="form-control" type="password" id="account-pass" name="new_password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="account-confirm-pass" class="form-label">Confirm Password</label>
                            <input class="form-control" type="password" id="account-confirm-pass" name="confirm_password">
                        </div>
                    </div>
                    <div class="col-12">
                        <hr class="mt-2 mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <button class="btn btn-primary form-submit" type="submit">Update Profile</button>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    
</main>
{% endblock %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/navbar.js' %}"></script>
{% endblock %}